/*
 * Card
 */

.card {
  /*margin-bottom: 2.3rem;*/
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  /*padding-left: 1%;*/
  /*box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
  background-color: rgba(0, 0, 0, .2);
  background-clip: border-box;
  border-radius: 2px;
}

.modal-body {
  color: black;
}

thead th, thead td {
  text-align: center;
}

tbody th, tbody td {
  text-align: center;
}

.action-buttons {
  float: none !important;
  display: inline;
}

.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 20px 40px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  /*background: white;*/
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

/*.page-title {*/
  /*border-right: 1px solid #7e7e7e;*/
  /*bottom: 0;*/
  /*color: #7e7e7e;*/
  /*font-size: 16px;*/
  /*font-weight: 600;*/
  /*letter-spacing: 0.3px;*/
  /*padding: 26px 35px;*/
  /*position: absolute;*/
  /*text-transform: uppercase;*/
  /*top: 0;*/
  /*align-items: center;*/
/*}*/

.search-form {
  margin-left: 175px;
  padding: 6px 15px 6px 37px;
  background-color: rgba(255,255,255,.08);
  color: rgba(255,255,255,.85);
  border: 0;
  border-radius: 2px;
  height: 35px !important;
  width: 30%;
  transition: background-color .3s,color .3s;
}

.search-form:focus {
  border-color: transparent;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .25);
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.96);
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.22);
  transition: background-color 1000ms, box-shadow 1000ms;
}

/*.search-form {*/
  /*border: 0 none;*/
  /*border-radius: 3px;*/
  /*padding: 6px 15px 6px 37px;*/
  /*width: 100%;*/
  /*height: 35px !important;*/
  /*box-shadow: none !important;*/
  /*!*background-image: url(imgs/icn_search.png);*!*/
  /*background-position: 2% 40%;*/
  /*background-repeat: no-repeat;*/
  /*background-size: 20px auto;*/
  /*float: left;*/
  /*margin-left: 170px;*/
  /*position: relative;*/
  /*top: -2px;*/
  /*!*width: 360px;*!*/
/*}*/
