<div id="users">
  <div id="content">
    <!--<div class="menubar fixed">-->
    <!--<div class="sidebar-toggler visible-xs">-->
    <!--<i class="ion-navicon"></i>-->
    <!--</div>-->
    <div class="page-title">{{pageTitle}}</div>
    <div class="content-wrapper ">
      <p>Here you will be able to browse resources, add new ones and edit/delete existing ones.</p>

      <div class="row">

        <div class="error col-md-12" *ngIf="errorMessage">{{errorMessage}}</div>

        <form class="col-md-9" [formGroup]="filterForm" (submit)="onSearch()">
          <div class="form-row">
            <div class="form-group offset-md-1 col-md-4" *ngIf="resourceTypePage">
              <select class="form-control" id="typeSelect" formControlName="resourceType"
                      (change)="onTypeSelect($event)">
                <option value="null" disabled selected hidden>Select resource type</option>
                <option value="all">All types</option>
                <option *ngFor="let type of resourceTypePage.results" [value]=type.name>{{type.name}}</option>
              </select>
            </div>

            <!--<div [ngClass]="['form-group top-navbar offset-md-2', dynamicClass]" (scroll)="navBarScroll($event)">-->
            <!--<div class="form-group coll-md-5">-->
              <!--<input type="text" class="offset-md-2 col-md-10 form-control" formControlName="queryString"-->
                     <!--placeholder="Search...">-->
            <!--</div>-->
            <!--<div class="col-md=2">-->
              <!--<button type="submit" class="btn">Submit</button>-->
            <!--</div>-->
          </div>
        </form>

        <div class="col-md-3">

          <a routerLink="addNewResource/">
            <button class="btn btn-success">New resource</button>
          </a>

          <div class="btn-group " dropdown [isDisabled]=isDisabled>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary  dropdown-toggle"
                    aria-controls="dropdown-basic">Bulk actions<span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                aria-labelledby="button-basic">
              <li role="menuitem">
                <button class="btn btn-danger" (click)="openModal(template)">DO IT</button>
              </li>
            </ul>
          </div>

          <ng-template #template>
            <div class="modal-body text-center">
              <p>Are you sure you want to DELETE all the selected resources?</p>
              <button type="button" class="btn btn-default" (click)="confirmBulk()">Yes</button>
              <button type="button" class="btn btn-primary" (click)="decline()">No</button>
            </div>
          </ng-template>

        </div>

        <div class="card col-md-12">
          <div #table class="col-md-12 row justify-content-md-center" *ngIf="resourcePage">

            <div paginate [total]="resourcePage.total" [from]="currentPage"></div>

            <table class="table table-striped table-responsive-md">
              <thead>
              <tr class="row">
                <th class="col-md-1"><input #masterCheckbox type="checkbox" name="select-all" (change)="checkAll(masterCheckbox.checked)"></th>
                <th class="col-md-4">Id</th>
                <th class="col-md-2">Type</th>
                <th class="col-md-3">Date</th>
                <th class="col-md-2">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr class="row" *ngFor="let resource of resourcePage.results">
                <td class="col-md-1"><input #checkBoxes type="checkbox" id={{resource.id}} (change)="isAllChecked()"></td>
                <td class="col-md-4">{{resource.id}}</td>
                <td class="col-md-2">{{resource.resourceTypeName}}</td>
                <td class="col-md-3">
                  <div>{{resource.creationDate | date:'medium'}}</div>
                </td>
                <td class="col-md-2">
                  <div class="row action-buttons">
                    <a routerLink="detail/{{resource.resourceTypeName}}/{{resource.id}}">
                      <button class="btn btn-info"><i class="fa fa-lg fa-info-circle"></i></button></a>
                    <a routerLink="updateResource/{{resource.resourceTypeName}}/{{resource.id}}">
                      <button class="btn btn-warning"><i class="fa fa-lg fa-edit"></i></button></a>
                    <button class="btn btn-danger" (click)="openModal(template)">
                      <i class="fa fa-lg fa-trash-o"></i></button>
                  </div>
                </td>
                <ng-template #template>
                  <div class="modal-body text-center" style="color: black">
                    <p>Are you sure you want to DELETE the resource with id: {{resource.id}}?</p>
                    <button type="button" class="btn btn-default" (click)="confirm(resource.id)">Yes</button>
                    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                  </div>
                </ng-template>
              </tr>
              </tbody>
            </table>

            <div paginate [total]="resourcePage.total" [from]="currentPage"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
