<p>Update Form</p>

<div class="col-md-12">
  <form [formGroup]="resourceForm" (submit)="putResource()" class="form-horizontal" novalidate="novalidate">

    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label">Resource Type</label>
        <div class="" *ngIf="resourceTypes">
            <select class="form-control" formControlName="resourceTypeName" (change)="onTypeSelect($event)" required>
              <option value="null" disabled selected hidden>{{resource.resourceTypeName}}</option>
              <option *ngFor="let resourceType of resourceTypes" value={{resourceType.name}}>{{resourceType.name}}</option>
            </select>
          </div>
      </div>
      <!--<div class="form-group">-->
        <!--<label class="">Version</label>-->
        <!--&lt;!&ndash;<div class="">&ndash;&gt;-->
        <!--<input type="text" class="form-control" formControlName="version">-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
      <div class="form-group">
        <label class="control-label">
          <input type="radio" name="payloadRadioBtn" id="payload" (change)="radioBtnUrl('payload')"
                 checked="checked">Payload
        </label>
        <div class="">
          <textarea rows="4" class="form-control" formControlName="payload"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">
          <input type="radio" name="payloadRadioBtn" id="payloadURL" (change)="radioBtnUrl('url')">
          Payload URL</label>
        <div class="">
          <input type="text" class="form-control" formControlName="payloadUrl">
        </div>
      </div>
      <!--This will be auto filled with select type-->
      <fieldset disabled>
        <div class="form-group">
          <label class="">Payload Format</label>
          <div class="">
            <input type="text" class="form-control" formControlName="payloadFormat">
          </div>
        </div>
      </fieldset>
      <div class="form-group form-actions">
        <div class="col-md-offset-2 col-md-6">
          <button class="btn btn-default" (click)="goBack()">Back</button>
          <button class="btn btn-success" type="submit">Save changes</button>
        </div>
      </div>
    </div>
  </form>
  <!--<p *ngIf="resource">-->
    <!--&lt;!&ndash;Resource Value: {{resource | json}}&ndash;&gt;-->
    <!--Resource Value: {{resourceForm.value | json}}-->
  <!--</p>-->
</div>


