/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  background-color: rgba(0,0,0,.125);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 400;
  color: #CCCCCC;
  transition: background-color .3s,color .3s;
  display: block;
  padding: .85rem 1rem;
  /*border-radius: 2px;*/
}

.sidebar .nav-link .feather {
  /*margin-right: 4px;*/
  /*color: #999;*/
}

.sidebar .nav-link.active {
  /*color: #007bff;*/
  background-color: rgba(255,255,255,.06);
  color: #fff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link:hover {
  /*background-color: #3e8e41;*/
  /*color: black;*/
  background-color: rgba(255,255,255,.06);
  color: #fff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar {
  background-color: rgba(0,0,0,.5);
  align-items: center;
  padding: 0 1.5rem 0 0;
  transition: background-color 1s,box-shadow 1s;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

/*.navbar--scrolled {*/
  /*background-color: rgba(0,0,0,.96);*/
/*}*/

.navbar-brand {
  color: white;
  padding-top: .75rem;
  padding-left: 2.2rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
  -webkit-box-flex: 1;
  flex: 1;
  margin-right: 2.5rem;
  position: relative;
  margin-left: 0.25rem;
}

.form-control-dark {
  /*color: #fff;*/
  /*background-color: rgba(255, 255, 255, .1);*/
  /*border-color: rgba(255, 255, 255, .1);*/
  background-color: rgba(255,255,255,.08);
  color: rgba(255,255,255,.85);
  border: 0;
  border-radius: 2px;
  height: 2.9rem;
  /*padding-left: 3rem;*/
  width: 100%;
  transition: background-color .3s,color .3s;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .25);
}

.top-nav {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}
.top-nav > li {
  display: inline-block;
  vertical-align: middle;
}
.top-nav > li > a {
  display: block;
  color: #ffffff;
  border-radius: 2px;
  text-align: center;
  line-height: 100%;
  position: relative;
  transition: background-color 300ms;
}
.top-nav > li > a:not(.header__nav__text) {
  padding: 0.65rem 0.15rem;
  min-width: 50px;
}
/*.top-nav > li > a:not(.header__nav__text) > .zmdi {*/
  /*font-size: 1.65rem;*/
  /*line-height: 100%;*/
/*}*/
.top-nav > li > a.active, .top-nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.top-nav > li .dropdown-menu--block {
  padding: 0;
}

@media (max-width: 575px) {
  .top-nav > li {
    position: static;
  }
  .top-nav > li .dropdown-menu--block {
    left: 20px;
    width: calc(100% - 40px);
    top: 62px;
  }
}

