<div>
  <nav [ngClass]="['navbar fixed-top flex-md-nowrap shadow',  dynamicClass]" (scroll)="navBarScroll()">
    <a href="#" class="navbar-brand col-md-2">Registry Core</a>
    <form class="col-md-12 row" [formGroup]="searchForm" (submit)="updateSearchTerm()">
      <div class="search-input col-md-12">
        <label for="search" class="col-md-2 local-title">{{ (pageTitle | async)}}</label>
        <input [hidden]="searchField | async" id="search" class="col-md-4 form-control-dark" type="text"
               formControlName="searchTerm" placeholder="Search" aria-label="Search">
      </div>
    </form>
    <ul class="top-nav ">
      <!--<li class="dropdown hidden-xs-down">-->
      <!--<a href="#" data-toggle="dropdown"><i class="fa fa-check-circle"></i></a>-->

      <!--&lt;!&ndash;<div class="dropdown-menu dropdown-menu-right dropdown-menu&#45;&#45;block" role="menu">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="dropdown-header">Tasks</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="listview listview&#45;&#45;hover">&ndash;&gt;-->
      <!--&lt;!&ndash;<a href="" class="listview__item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="listview__content">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="listview__heading">HTML5 Validation Report</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="progress mt-1">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->

      <!--&lt;!&ndash;<a href="" class="listview__item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="listview__content">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="listview__heading">Google Chrome Extension</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="progress mt-1">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="progress-bar bg-warning" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->

      <!--&lt;!&ndash;<a href="" class="listview__item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="listview__content">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="listview__heading">Social Intranet Projects</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="progress mt-1">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="progress-bar bg-success" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->

      <!--&lt;!&ndash;<a href="" class="listview__item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="listview__content">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="listview__heading">Bootstrap Admin Template</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="progress mt-1">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="progress-bar bg-info" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->

      <!--&lt;!&ndash;<a href="" class="listview__item">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="listview__content">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="listview__heading">Youtube Client App</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="progress mt-1">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="progress-bar bg-danger" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->

      <!--&lt;!&ndash;<a href="" class="view-more">View all Tasks</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</li>-->

      <!--<li class="dropdown hidden-xs-down">-->
      <!--<a href="#" data-toggle="dropdown"><i class="fa fa-archive"></i></a>-->

      <!--&lt;!&ndash;<div class="dropdown-menu dropdown-menu-right dropdown-menu&#45;&#45;block" role="menu">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row app-shortcuts">&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="col-4 app-shortcuts__item" href="">&ndash;&gt;-->
      <!--&lt;!&ndash;<i class="zmdi zmdi-calendar"></i>&ndash;&gt;-->
      <!--&lt;!&ndash;<small class="">Calendar</small>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="col-4 app-shortcuts__item" href="">&ndash;&gt;-->
      <!--&lt;!&ndash;<i class="zmdi zmdi-file-text"></i>&ndash;&gt;-->
      <!--&lt;!&ndash;<small class="">Files</small>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="col-4 app-shortcuts__item" href="">&ndash;&gt;-->
      <!--&lt;!&ndash;<i class="zmdi zmdi-email"></i>&ndash;&gt;-->
      <!--&lt;!&ndash;<small class="">Email</small>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="col-4 app-shortcuts__item" href="">&ndash;&gt;-->
      <!--&lt;!&ndash;<i class="zmdi zmdi-trending-up"></i>&ndash;&gt;-->
      <!--&lt;!&ndash;<small class="">Reports</small>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="col-4 app-shortcuts__item" href="">&ndash;&gt;-->
      <!--&lt;!&ndash;<i class="zmdi zmdi-view-headline"></i>&ndash;&gt;-->
      <!--&lt;!&ndash;<small class="">News</small>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="col-4 app-shortcuts__item" href="">&ndash;&gt;-->
      <!--&lt;!&ndash;<i class="zmdi zmdi-image"></i>&ndash;&gt;-->
      <!--&lt;!&ndash;<small class="">Gallery</small>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</li>-->

      <!--<li class="dropdown hidden-xs-down">-->
      <!--<a href="" data-toggle="dropdown"><i class="fa fa-mobile-phone"></i></a>-->

      <!--<div class="dropdown-menu dropdown-menu-right">-->
      <!--<a href="" class="dropdown-item" data-sa-action="fullscreen">Fullscreen</a>-->
      <!--<a href="" class="dropdown-item">Clear Local Storage</a>-->
      <!--<a href="" class="dropdown-item">Settings</a>-->
      <!--</div>-->
      <!--</li>-->

      <!--<li class="hidden-xs-down">-->
      <!--<a href="" class="top-nav__themes" data-sa-action="aside-open" data-sa-target=".themes"><i-->
      <!--class="fa fa-pied-piper-alt"></i></a>-->
      <!--</li>-->
    </ul>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">

      <div class="sidebar-sticky">
        <!--<div class="">-->
        <!--<a href="#" class="navbar-brand  mr-0">Registry Core</a>-->
        <!--</div>-->

        <div class="menu-section">
          <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            General</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link " routerLink="/dashboard" routerLinkActive="active">
                <i class="fa fa-globe"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/configuration" routerLinkActive="active">
                <i class="fa fa-cog"></i>
                <span>Configuration</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="menu-section">
          <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            Contents</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/resourceTypes" routerLinkActive="active">
                <i class="fa fa-folder"></i>
                <span>Resource Types</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/resources" routerLinkActive="active">
                <i class="fa fa-file"></i>
                <span>Resources</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/dump" routerLinkActive="active">
                <i class=""></i>
                <span>Dump</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/restore" routerLinkActive="active">
                <i class=""></i>
                <span>Restore</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="menu-section">
          <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            API Documentation</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link " routerLink="/api/overview" routerLinkActive="active">
                <i class="fa fa-file-text"></i>
                <span>Overview</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/api/resourceTypes" routerLinkActive="active">
                <i class="fa fa-folder-o"></i>
                <span>Resource Types</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/api/resources" routerLinkActive="active">
                <i class="fa fa-file-o"></i>
                <span>Resources</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/api/search" routerLinkActive="active">
                <i class="fa fa-search"></i>
                <span>Search</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/api/versions" routerLinkActive="active">
                <i class="fa fa-files-o"></i>
                <span>Versions</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main role="main" class=" ml-sm-auto col-lg-10 px-4">
      <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
        <router-outlet></router-outlet>
      </div>
    </main>

  </div>
</div>
