/* You can add global styles to this file, and also import other style files */
@import '../node_modules/uikit/dist/css/uikit-core-rtl.min.css';
@import '../node_modules/uikit/dist/css/uikit-core.min.css';
@import '../node_modules/uikit/dist/css/uikit-rtl.min.css';
@import '../node_modules/uikit/dist/css/uikit.min.css';

html {
  height: 100%;
  box-sizing: border-box;
  background-color: #234d6d;
}

body {
  min-height: 100%;
  background: url(./app/img/7.jpg);
  background-attachment: fixed;
  color:  #fff;
}

input[type="text"]:disabled {
  background: #d1d4d7;
}

