<div id="users">
  <div id="content">
    <div class="menubar fixed">
      <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
      </div>
      <div class="page-title">Resource Types</div>
    </div>

    <div class="content-wrapper">
      <p>Here you will be able to browse resource types, add new ones and edit/delete existing ones.</p>

      <div class="col-md-12" *ngIf="resourceTypePage">

        <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="row">
          <form class="col-md-9">
            <div class="form-row">
              <div class="form-group offset-md-5 col-md-5">
                <input type="text" class="offset-md-2 col-md-10 form-control" placeholder="Search...">
              </div>
              <div class="col-md=2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>

          <div class="col-md-3">

            <a routerLink="addNewResource">
              <button class="btn btn-success">New resource</button>
            </a>
            <div class="btn-group " dropdown [isDisabled]=isDisabled>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-primary  dropdown-toggle"
                      aria-controls="dropdown-basic">Bulk actions<span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                  aria-labelledby="button-basic">
                <li role="menuitem">
                  <button class="btn btn-danger" (click)="openModal(template)">DO IT</button>
                </li>
              </ul>
            </div>

            <ng-template #template>
              <div class="modal-body text-center">
                <p>Are you sure you want to DELETE all the selected resource types?</p>
                <button type="button" class="btn btn-default" (click)="confirmBulk()">Yes</button>
                <button type="button" class="btn btn-primary" (click)="decline()">No</button>
              </div>
            </ng-template>

          </div>
        </div>

        <div #table class="col-md-12 row users-list justify-content-md-center" *ngIf="resourceTypePage">

          <div class="py-4">
            <pagination [totalItems]="resourceTypePage.total"
                        [boundaryLinks]="showBoundaryLinks"
                        [rotate]="rotate"
                        [maxSize]="maxSize"
                        [(ngModel)]="currentPage"
                        (pageChanged)="pageChanged($event)">
            </pagination>
          </div>

          <div class="col-md-12 row headers">
            <div class="col-sm-1 header select-users">
              <input #masterCheckbox type="checkbox" name="all" (change)="checkAll(masterCheckbox.checked)">
            </div>
            <div class="col-sm-1 header hidden-xs">
              <label><span>Name</span></label>
            </div>
            <div class="col-sm-2 header hidden-xs">
              <label><span>Payload Type</span></label>
            </div>
            <div class="col-sm-2 header hidden-xs">
              <label><span>Creation Date</span></label>
            </div>
            <div class="col-sm-3 header hidden-xs">
              <label><span>Index Fields</span></label>
            </div>
            <div class="col-sm-3 header hidden-xs">
              <label><span>Actions</span></label>
            </div>
          </div>
          <div class="col-md-12 row" *ngFor="let resourceType of viewPage">
            <div class="col-sm-1 avatar">
              <input #checkBoxes type="checkbox" id={{resourceType.name}} name="select-user"
                     (change)="isAllChecked()">
            </div>
            <div class="col-sm-1">
              <div>{{resourceType.name}}</div>
            </div>
            <div class="col-sm-2">
              <div>{{resourceType.payloadType}}</div>
            </div>
            <div class="col-sm-2">
              <div>{{resourceType.creationDate | date:'medium' }}</div>
            </div>
            <div class="col-sm-3">
              <div>
              <span *ngFor="let indexField of resourceType.indexFields; let isLast=last">
                  {{indexField.name}}{{isLast ? '' : ', '}}
              </span>
              </div>
            </div>
            <div class="col-sm-3">
              <!--<div><a (click)="gotoDetail(resourceType)">Click to view full resource type details</a></div>-->
              <div class="row">
                <a routerLink="detail/{{resourceType.name}}">
                  <button class="btn btn-info">Details</button>
                </a>

                <button class="btn btn-danger" (click)="openModal(template)">
                  <i class="material-icons">
                    delete_forever
                  </i>
                </button>

                <ng-template #template>
                  <div class="modal-body text-center">
                    <p>Are you sure you want to DELETE the resource type with name: {{resourceType.name}}?</p>
                    <button type="button" class="btn btn-default" (click)="confirm(resourceType.name)">Yes</button>
                    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                  </div>
                </ng-template>

              </div>
            </div>
          </div>

          <div class="py-4">
            <pagination [totalItems]="resourceTypePage.total"
                        [boundaryLinks]="showBoundaryLinks"
                        [rotate]="rotate"
                        [maxSize]="maxSize"
                        [(ngModel)]="currentPage"
                        (pageChanged)="pageChanged($event)">
            </pagination>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
