/*
 * Card
 */

.card {
  /*margin-bottom: 2.3rem;*/
  align-items: center;
  margin-top: 1%;
  /*padding-top: 1%;*/
  /*padding-bottom: 1%;*/
  /*box-shadow: 0 1px 5px rgba(0,0,0,.1);*/
  background-color: rgba(0,0,0,.2);
  background-clip: border-box;
  border-radius: 2px;
}

.modal-body {
  color: black;
}

thead th, thead td {
  /*vertical-align: middle;*/
  text-align: center;
  /*align-items: center;*/
}
tbody th, tbody td {
  /*vertical-align: middle;*/
  /*display: block;*/
  /*margin: auto;*/
  text-align: center;
  /*align-items: center;*/
}
